<div class="box">
<mat-card class="mat-elevation-z5" (click)="showWeatherDetails(data)" *ngFor="let data of weatherData">
  <mat-card-header>
    <mat-card-title>{{data?.name}}'s Weather</mat-card-title>
    <mat-card-subtitle>{{today | date:'mediumDate'}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <p>Temperature : {{data?.main?.temp}} C / {{data?.main?.temp | fahrenheit}} F</p>
      <p>Sunrise : {{((data?.sys?.sunrise + data?.timezone) * 1000) | date:'h:mm a' : 'UTC' }}   </p>
      <p>Sunset : {{((data?.sys?.sunset + data?.timezone) * 1000) | date:'h:mm a' : 'UTC' }} </p>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
</div>

